[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pcsstools"]
	path = pcsstools
	url = https://github.com/jackmwolf/pcsstools
[submodule "tehtuner"]
	path = tehtuner
	url = https://github.com/jackmwolf/tehtuner
